<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definition for Student Charlie using custom methods -->
    <bean class="com.test.entities.Student" id="student1"
          init-method="customInit" destroy-method="customDestroy">
        <constructor-arg value="101" type="int"/>
        <constructor-arg value="Charlie"/>
        <constructor-arg value="charlie15@gmail.com"/>
    </bean>

</beans>
