<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Bean definitions for Student entities using field injection -->
	<bean class="com.test.entities.Student" id="student1">
		<property name="studentID" value="101" />
		<property name="studentName" value="Charlie" />
		<property name="studentEmail" value="charlie15@gmail.com" />
	</bean>

	<bean class="com.test.entities.Student" id="student2">
		<property name="studentID" value="102" />
		<property name="studentName" value="Justin" />
		<property name="studentEmail" value="justin99@gmail.com" />
	</bean>

</beans>
