<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- Bean definitions for Student entities, injecting Map type data -->
    <bean class="com.test.entities.Student" id="student1">
        <property name="studentID" value="101" />
        <property name="studentName" value="Charlie" />
        <property name="studentEmails">
            <map>
                <entry>
                    <key>
                        <value>personal</value>
                    </key>
                    <value>charlie15@gmail.com</value>
                </entry>
                <entry>
                    <key>
                        <value>work</value>
                    </key>
                    <value>charlie.charles@work.com</value>
                </entry>
                <entry>
                    <key>
                        <value>school</value>
                    </key>
                    <value>charlie.charles@school.com</value>
                </entry>
            </map>
        </property>
    </bean>

    <bean class="com.test.entities.Student" id="student2">
        <property name="studentID" value="102" />
        <property name="studentName" value="Justin" />
        <property name="studentEmails">
            <map>
                <entry>
                    <key>
                        <value>personal</value>
                    </key>
                    <value>justin99@gmail.com</value>
                </entry>
                <entry>
                    <key>
                        <value>work</value>
                    </key>
                    <value>justin.james@work.com</value>
                </entry>
            </map>
        </property>
    </bean>

</beans>
