<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the Course bean -->
    <bean id="course" class="com.test.entities.Course">
        <constructor-arg value="Computer Science" />
    </bean>

    <!-- Define the Student bean with byName autowiring -->
    <bean id="student" class="com.test.entities.Student" autowire="byName">
        <constructor-arg value="101" type="int" />
        <constructor-arg value="Charlie" />
        <constructor-arg value="charlie15@gmail.com" />
    </bean>

</beans>
